extends layout

block content
    .container
        .row
            alert.alert-success(role='alert')
                h4 Chat starts here!
    .container
        .row
            .col-md-4
                block left
            .col-md-8
                block main